/* xs */
@media (min-width: 475px) {
    .container {
        max-width: 475px;
    }
}
/* s */
@media (min-width: 640px) {
    .container {
        max-width: 640px;
    }
}
/* md */
@media (min-width: 760px) {
    .container {
        max-width: 760px;
    }
}
/* lg */
@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }
}
/* xl */
@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}
/* 2xl */
@media (min-width: 1536px) {
    .container {
        max-width: 1536px;
    }
}

/* utilities*/
:root {
    --color-black: #181818;
    --color-beige-0: #ECE3CE;
    --color-beige-1: #8d8079;
    --color-green-0: #739072;
    --color-green-1: #4F6F52;
    --color-green-2: #3A4D39;
    --color-blue-0: #BBE1FA;
    --color-blue-1: #3282B8;
    --color-blue-2: #0F4C75;
    // --color-primary:
}

.no-scroll {
    overflow: hidden;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: .5rem;
    padding-right: .5rem;
    border: 1px solid red;
}

body {
    margin: 0;
    height: 100vh;
    font-family: 'Poppins';
    background: var(--color-beige-0);
    overscroll-behavior-y: none;
}

/* preloader */
.loader {
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: 999;
    top: 0;
    .blinder-container {
        position: absolute;
        top: 0;
        height: 100vh;
        width: 100%;
        display: flex;

        .blinder {
            background: var(--color-green-0);
            flex: 1;
            transform-origin: top;
        }
    }
    svg {
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 7vw;
    }
}

/* Home */
.home {
    h2 {
        justify-content: left;
        align-items: center;
        position: absolute;
        white-space: nowrap;
        font-size: 7.5vw;
        z-index: 9;
    }
}

/* About */
.about {
    position: relative;
    h2 {
        font-size: 3.5em;
    }
    p {
        font-size: 1.2em;
    }
}

/* Portfolio */
.test {
    background-color: var(--color-beige-1);
    height: 50vh;
}
.outer {
    overflow-x: hidden;
    .slider {
        display: flex;
        width: 300vw;
    }
    section {
        height: 100vh;
        width: 100%;
        .inner {
            margin: 7em;
            position: relative;
            justify-content: center;
            display: flex;
            height: 80vh;
            // top: 0;
            // left: 0;
            img {
                position: left;
                padding-right: 1vw;
                max-width: 100%;
                max-height: 100%;
            }
            .content{
                h1 {
                    text-transform: uppercase;
                }
                p {
                    width: 50%;
                    line-height: 1.5;
                    font-weight: 300;
                }
            }
        }
    }
}

/* Contact */
footer {
    margin-top: 70vh;
    height: 30vh;
    position: relative;
    .ft_top {
        font-size: 24px;
        line-height: 30px;
        display: flex;
        justify-content: space-between;
        // display: grid;
        // grid-template-rows: repeat(var(--rows, 1), 1fr);
        // grid-template-columns: repeat(var(--columns, 12), 1fr);
        // gap: var(--gutter-y, var(--gutter)) var(--gutter-x, var(--gutter));
    }
    .ft_bottom {
        border-top: 1px solid var(--color-black);
        display: flex;
        align-items: center;
        font-size: 18px;
        // padding: 2rem;

    }
    .ft_career {
        width: 30%;
    }
    .ft_socials {
    }
    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
    ul, li {
        list-style: none;
        margin-left: 20px;
        button {
            font-size: inherit;
            background-color: inherit;
            border: none;
            color: var(--color-black);
            font-weight: inherit;
            font-family: inherit;
            letter-spacing: inherit;
            cursor: pointer;
        }
    }
}
